@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* Font */
    --font: 1rem/1.5 'Roboto Mono', monospace;
    /* Colors */
    --bg-primary: #0e0e14;
    --bg-primary-hover: #231f49;
    --bg-secondary: #13131a;
    --bg-secondary-hover: #1c1a36;
    --bg-tertiary: #1e1e3b;
    --color-primary: #5553b8;
    --color-main: #dadbf5;
    /* Spacing */
    --padding-sm: 0.5rem 1rem;
    --padding-md: 1rem 1.5rem;
    --padding-lg: 1.5rem;
    /* Borders */
    --radius-sm: 6px;
    --radius-md: 12px;
    --radius-pill: 50%;
    --border: 1px solid var(--color-main);
}

/* Global */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: var(--bg-primary);
    font: var(--font);
    color: var(--color-main);
}

:any-link {
    font-weight: 600;
    text-decoration: none;
}

h1, #cmd-submit { user-select: none; }

/* Layout */
body {
    overflow: hidden;
}

#root {
    width: 100vw;
    height: 100vh;
    padding: 10vh 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#terminal-container {
    width: 100%;
    height: 100%;
    border-radius: var(--radius-md);
    border: var(--border);
    background-color: var(--bg-secondary);
    padding: var(--padding-lg);
    display: flex;
    flex-direction: column;
}

h1 {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1;
    text-align: center;
}

#terminal-display {
    border-radius: var(--radius-sm);
    background-color: var(--bg-primary);
    white-space: pre-wrap;
    overflow-y: scroll;
    flex-grow: 1;
}

#terminal-display > * {
    padding: 0.25rem 0.5rem;
}
#terminal-display > *:hover {
    background-color: var(--bg-primary-hover);
    cursor: pointer;
}

#cmd-container {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#cmd-input, #cmd-submit {
    height: 2rem;
    border-radius: var(--radius-sm);
    border: none;
    background-color: var(--bg-tertiary);
    padding: var(--padding-sm);
    font: inherit;
    line-height: 1;
    color: var(--color-main);
}

#cmd-input {
    flex-grow: 1;
}
#cmd-input:focus {
    border: var(--border);
    outline: none;
}

#cmd-submit:hover {
    border: var(--border);
    padding: 0.4rem 0.95rem;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 1024px) {
    #root {
        padding: 10vh 5vw;
    }
}